* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: #999;
}

h1, h2, h3, h4, p {
    color: #ffffff;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
}


/* Showcase */
.showcase {
    background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
    position:relative;
    width: 100%;
    height: 93vh;
}

.showcase::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.6);
    box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img {
    width: 170px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.showcase-top a {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.showcase-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 9rem;
}

.showcase-content h1 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-content p {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.25;
    margin: 0 0 2rem;
}


/* Tabs */
.tabs {
    background-color: #141414;
    border-bottom: #3d3d3d solid 2px;
    padding-top: 1rem;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
}

.tab-item {
    padding: 1.5rem 0;
}

.tab-item p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.tab-item * {
    color:#999;
}

.tab-item:hover *{
    color:#ffffff;
    cursor: pointer;
}

.selected-tab {
    border-bottom: #e50914 4px solid;
}

/* Tab-content */
.tab-content {
    background-color: #000;
}

.tab-content-item {
    display: none;
}

.tab-content .show {
    display: block;
}

.tab-content-item > div{
    padding: 3rem 0;
}

.tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
}

.tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.tab-2-content-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    margin-top: 2rem;
}

.tab-3-content-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

table.table {
    width: 100%;
    border-spacing: 0;
}

table.table thead{
    color:#ffffff;
    font-weight: bold;
}

table.table tbody{
    color:#999;
}

table.table tbody tr:nth-last-of-type(even) {
    background-color: #242424;
}

td,th {
    padding:0.8rem 1rem;
}

/* Footer */
footer {
    background-color: #000;
}

footer .container {
    max-width: 75%;
}

footer .links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0.8rem;
    margin: 1rem 0;
}


/* Btn */
.btn {
    display: inline-block;
    background-color: #e50914;
    color: #ffffff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 2px;
    margin-right: 0.5rem;
}

.btn:hover {
    opacity: 0.95;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 2rem;
    padding: 1rem 1.5rem;
}

.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
}

/* Styles */
.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-md {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.text-dark {
    color:#999
}


